.mb-4{
    margin-bottom: 0!important;
}
img{
    max-height: 60vh;
}

#ctnImage{
    width: 100%;
    text-align: center;
}

.ctnPrincipal{
    min-height: 10vh;
}

body{
    padding: 0;
}

.btn-primary{
    background-color: #B9121B;
    border: none;
}

.btn-primary:hover{
    background-color: #4C1B1B;
}

.btn-secondary{
    background-color: #FCFAE1;
    border: none;
    color: black;
}

.btn-secondary:hover{
    background-color: #BD8D46;
    border: none;
    color: black;
}