#numberStats {
    text-align: center;
        font-size: 1.2rem;
}
#numberStats .number{
    font-size: 6rem;
}


@media(max-width: 756px)
{
    #numberStats {
            font-size: .8rem;
    }
    #numberStats .number{
        font-size: 3rem;
    }
}
