h1{
    color: #B9121B;
    font-weight: bold;
}

h2{
     color: #BD8D46;
    font-size: 1.2em;
    min-width: 100%;
}

a:hover{
    text-decoration: none;
    color: darkblue;
}
a{
    color: black;
}

h3{
    font-size: 1.2em;
}

.offres{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.compact{

   margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 2%;
}

.erreur{
    color: red;
}