body{
  color:black;
}

.article{
  color:black;
  min-height: 200px;
}

.description{
  color:white;
  background-color:#B9121B;
  min-height:300px;
}

a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:black;
}
a:visited{
  color:white;
}
a:visited:hover{
  color:black;
}
a.active{
  color:black;
}

.publique {
  background-color:#B9121B;
  min-height:100px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}

.publique:hover{
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(0.50); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);

}



.trait{
  background-color:black;
  min-height: 1px;
  width: 100%;
}

.description img{
  width:100%;
}

/* partie parametre */

.Coldroit{
  background-color: red;
}

#b1{
  color:black;


  min-height:50px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

#b1:hover{

    font-weight: bold;
  color:white;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(0.50); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);

}

#b2{
  font-weight: bold;
  color:black;
  min-height:100px;
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
}

#b2:hover{
  font-weight: bold;
  color:black;
  background-color: white;

  background-repeat: no-repeat;
  overflow: hidden;

}



#fond1{
  width: 100%;
  height: 100%;
  margin:0px;
  background-color: #B9121B;
}
