.header{
    min-height: 5vh;
}

footer p{
    margin: 0;
}

.ctnPrincipal{
    min-height: 80vh;
}

footer{
    text-align: center;
    background-color: #4C1B1B ;
    color: white;
    min-height: 5vh;
}

.navbar{
    background-color: #4C1B1B !important;
}

.separation{
    height: 3px;
    background-color: black;
    margin-bottom: 2%;
     margin-right: auto;
    margin-left: auto;
}
