h1{
    color: #B9121B;
    font-weight: bold;
}

h2{
    font-size: 1.2em;
    min-width: 100%;
}

h3{
    font-size: 1.2em;
    color: #BD8D46;
}

.ok h3{
    color:green;
}

.pasOk h3{
    color: red;
}

p{
    min-width: 100%;
}

#titreCarte{
    color:  #4C1B1B;
}

.btn-success{
    color:black;
}

#map{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}