h1{
    color: #B9121B;
    font-weight: bold;
}
h2{
    color:#BD8D46;
    
}
.entreprise{
    font-weight: bold;
}

.offres{
    padding: 2%;
}

.container h1{
    text-align: center;
}

h2:hover{
    text-decoration: none;
    text-shadow: 1px 1px 2px #BD8D46;
    transition: 0.2s;
}

a:hover{
    text-decoration: none;
    transition: 1sec;
}

.btn{
    margin-right: auto;
    margin-left: auto;
}

.offres{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.btn-custom{
    background-color: #B9121B;
    color:white;
}

.btn-custom:hover{
    background-color: #4C1B1B;
    color: white;
}